.container {
    width: max-content;
    // height: 25px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    @media screen and (max-width: 480px) {
        display: flex;
    }

    .inner__container {
        display: flex;

        button {
            border: none;
            color: white;
            display: inline-flex;
            align-items: center;
            justify-content: space-around;

            &.left {
                width: 185px;
                height: 56px;
                background: #00a1d5;
                border-radius: 10px 0px 0px 10px;

                &:active {
                    transform: translate(2px, 2px);
                }
            }

            &.right {
                width: 185px;
                height: 56px;
                background: #7a59e6;
                border-radius: 0px 10px 10px 0px;

                &:active {
                    transform: translate(-2px, 2px);
                }
            }
        }
    }
}
